*{
	margin:0;
	padding:0;

    
}

body{
	margin: 0;
	padding: 0;
	position: relative;
	background-color:#fff;
}

.anzeige{
    position: absolute;
    top: 750px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    width: 1200px;
    height: 750px;
    background-image: url(Bilder/wallpaper.jpg);
    
    
}

.anzeigeSpiel{
    position: absolute;
    top: 750px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    width: 1200px;
    height: 750px;
    background-image: url(Bilder/wallpaper.jpg);
    
    
}



.button {
    width: 350px;
    height: 250px;
    margin-left: 160px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 26pt;
    font-weight: bold;
    border-style: none;
    color: white#;
    background-image: url(Bilder/buttons.jpg);
    border-radius: 25px;
    
}

.CRbutton {
    width: 1000px;
    height: 550px;
    margin-left: 120px;
    margin-bottom: 20px;
    margin-top: 40px;
    font-size: 26pt;
    font-weight: bold;
    border-style: none;
    color: white#;
    background-image: url(Bilder/credits.jpg);
    border-radius: 25px;
    
}

.buttonSp {
    width: 225px;
    height: 180px;
    margin-left: 70px;
    margin-bottom: 10px;
    margin-top: 70px;
    font-size: 10pt;
    font-weight: bold;
    border-style: none;
    color: white#;
    background-image: url(Bilder/buttons.jpg);
    border-radius: 10px;
    
}

button:hover {
    opacity: 0.8;
}

#aufforderung {
    margin-top: 20px;
    font-size: 25pt;
    text-align: center;
    margin-bottom: 1em;
    
}

#Waufforderung {
  
  margin-top: 20px;
  font-size: 25pt;
  text-align: center;
  margin-bottom: 1em;
  text-decoration: underline;
}

#WaufforderungL {
  
  margin-top: 20px;
  font-size: 25pt;
  text-align: center;
  margin-bottom: 1em;
  text-decoration: underline;
  margin-bottom: 5em;
}



#home {
  background-image: url(Bilder/home.png);
  width: 140px;
  height: 70px;
  margin-left: 50px;
  margin-top: 1em;
  border-radius: 2em;
  font-style: normal;
  font-size: 1em;
  
}

#ersteller {
  background-image: url(Bilder/credits.png);
  width: 140px;
  height: 70px;
  margin-left: 1000px;
  margin-top: 1em;
  border-radius: 2em;
  font-style: normal;
  font-size: 1em;
  
}


#back {
  background-image: url(Bilder/back.png);
  width: 140px;
  height: 70px;
  margin-left: 1em;
  margin-top: 1em;
  border-radius: 1em;
  font-style: italic;
}

#spiel {
  background-image: url(Bilder/tic.png);
  width: 860px;
}

#informiereDich {
  background-image: url(Bilder/uSam.png);
  font-style: italic; 
  color: azure;
  
}

.bodySpiel {
  background-image: url(Bilder/wallpaper.jpg);
}





